django
gunicorn
django-heroku
pandas
numpy
djangorestframework
requests
urllib3
sqlparse
six
setuptools
pytz
python-dateutil
psycopg2
pip
idna
Django
dj-database-url
charset-normalizer
certifi
asgiref