{% load static %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="container-fluid grey-bg">
    <div class="row">
        <div class="col-md-4">
            <div style="max-height: 15em;max-width: 100%">
                <img src="../../static/images/svg.svg" style="object-fit: scale-down;max-height: 150px">
            </div>
        </div>
        <div class="col-md-4">
            <div class="page-header" style="justify-items: center;align-items: center">
                <h1 style="justify-content: center;align-content: center; text-align: center; margin-top: 20px">
                    <p>Chair-Y-Tea!</p>
                    <small style="font-size: x-large">Your source for all things chairs and tea</small>
                </h1>
            </div>
        </div>
        <div class="col-md-4">
            <ul class="nav">
                <li class="nav-item  ml-md-auto">
                    <a class="nav-link active" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                       data-toggle="dropdown">My Account</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Login</a>
                        <div class="dropdown-divider">
                        </div>
                        <a class="dropdown-item" href="#">Sign Up</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>