<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Register</title>

    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/scripts.js"></script>

    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/style.css" rel="stylesheet">

</head>
<body class="login-body">
<script>
    function customValidate(index) {
        if (index === 1) {
            const password = $("#password").val();
            const email = $("#email").val();
            const username = $("#username").val();
            console.log("inputted password is " + password)
            return (validateUsername(username) && validateEmail(email) && validatePassword(password))
        }
    }
    function validateUsername(username) {
        if (username.length === 0) {
            $("#usernameError").text("Please enter a username");
            return false;
        }
        if (username.length < 9) {
            return true;
        } else {
            $("#usernameError").text("User name cannot be more than 8 characters.")
            return false;

        }
    }
    function validateEmail(email) {
        const emailRegex = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        if (email.length === 0) {
            $("#emailError").text("Please enter an email address");
            return false;
        }
        if (emailRegex.test(email)) {
            return true;
        } else {
            $("#emailError").text("Please enter a valid email address")
            return false;
        }
    }
    function validatePassword(password) {
        if (password.length < 9) {
            $("#passwordError").text("Password is too short!")
            return false;
        }
        if (hasNumber(password) === false) {
            $("#passwordError").text("Password needs a number!")
            return false;
        }
        if (hasUpperAndLowerCase(password) === false) {
            $("#passwordError").text("Password requires at least 1 upper and 1 lower case letter!")
            return false;
        }
        return true;
    }
    function hasNumber(text) {
        return /\d/.test(text);
    }
    function hasUpperAndLowerCase(text) {
        return (/[a-z]/.test(text) && /[A-Z]/.test(text))
    }
    function showNextForm() {
        $("#group1").css({"visibility": "hidden", "display": "none"});
        $("#nextBtn").css({"visibility": "hidden", "display": "none"});
        $("#group2").css({"visibility": "visible", "display": "block"});
        $("#progress-bar").removeClass("w-25");
        $("#progress-bar").addClass("w-75");
    }

</script>
<script>
    $(document).ready(function () {
        var current_form = 1;
        $("#nextBtn").click(function () {
            if (customValidate(current_form)) {
                showNextForm();
                current_form = 2;
            } else {
                console.log('valid-fail');
            }
        });
    });
</script>
{% include 'synerd/header.html' %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 bg1">
                </div>
                <div class="bordered col-md-6">
                    <form role="form1" method="post">
                        {% csrf_token %}
                        <div class="group1 slide-in" id="group1" style="visibility: visible; display:block">
                            <div class="form-group group1" style="white-space:nowrap">

                                <label for="username">
                                    User Name

                                {% if error == 'username' %}
                                    <div style="color:red;">Username taken</div>
                                {% endif %}
                                </label>
                                <input type="text" required class="form-control custom-input" id="username"name="username"/>
                                <span id="usernameError"></span>
                            </div>
                            <div class="form-group" style="white-space:nowrap">

                                <label for="email">
                                    Email address
                                </label>
                                <input type="email" required class="form-control custom-input " id="email"/>
                                <span id="emailError"></span>
                            </div>
                            <div class="form-group">

                                <label for="password">
                                    Password
                                </label>
                                <input type="password" required class="form-control custom-input" id="password"/>
                                <span id="passwordError"></span>
                            </div>
                        </div>
                        <div id="group2" class="slide-in" style="visibility: hidden; display:none">
                            <div class="form-group flex" style="white-space:nowrap">
                                <div class="block">
                                    <label for="firstname">
                                        First Name
                                    </label>
                                    <input type="text" class="form-control" id="firstname"/>
                                </div>
                                <div class="block">
                                    <label for="middlename">
                                        Middle Name
                                    </label>
                                    <input type="text" class="form-control" id="middlename"/>

                                </div>
                            </div>
                            <div class="form-group" style="white-space:nowrap">

                                <label for="lastname">
                                    Last Name
                                </label>
                                <input type="text" required class="form-control custom-input " id="lastname"/>
                            </div>
                            <div class="form-group flex" style="white-space:nowrap">
                                <div class="block">
                                    <label for="gender">
                                        Gender
                                    </label>
                                    <input type="text" required class="form-control custom-input " id="gender"/>
                                </div>
                                <div class="form-group block" style="white-space:nowrap">

                                    <label for="dob">
                                        Date of Birth
                                    </label>
                                    <input type="date" required class="form-control " id="dob"/>
                                </div>

                            </div>
                            <div class="form-group" style="white-space:nowrap">

                                <label for="streesaddr">
                                    Street Address
                                </label>
                                <input type="text" required class="form-control custom-input " id="streesaddr"/>
                            </div>
                            <div class="form-group flex" style="white-space:nowrap">
                                <div class="block">
                                    <label for="city">
                                        City
                                    </label>
                                    <input type="text" required class="form-control " id="city"/>
                                </div>
                                <div class="block">

                                    <label for="state">
                                        State
                                    </label>
                                    <select required class="form-control " id="state">
                                        <option value="AL">Alabama</option>
                                        <option value="AK">Alaska</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">District Of Columbia</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="white-space:nowrap">

                                <label for="zipcode">
                                    Zip Code
                                </label>
                                <input type="text" required class="form-control custom-input " id="zipcode"/>
                            </div>
                            <div class="form-group" style="white-space:nowrap">

                                <label for="phoneno">
                                    Phone Number
                                </label>
                                <input type="email" required class="form-control custom-input " id="phoneno"/>
                            </div>
                            <div class="form-group" style="white-space:nowrap">

                                <label for="countryoo">
                                    Country of Origin
                                </label>
                                <input type="text" required class="form-control custom-input " id="countryoo"/>
                            </div>

                            <div class="form-group" style="white-space:nowrap">

                                <label for="memberorg">
                                    Member Organization
                                </label>
                                <input type="email" class="form-control custom-input " id="memberorg"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    <button id="nextBtn" class="btn btn-primary">
                        Next
                    </button>
                    <div class="progress" style="margin-top: 25px;">
                        <div id="progress-bar" class="progress-bar w-25">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg2">
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>